[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydicom = "*"
numpy = "*"
dataset = "*"
torch = "*"
torchvision = "*"
scipy = "*"
trimesh = "*"
measure = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.7"
